
body{
    padding: 0px;
    margin: 0px;
    background: rgb(1,191,154);
    background: linear-gradient(41deg, rgba(1,191,154,1) 0%, rgba(3,149,209,1) 35%, rgba(136,31,120,1) 100%);
}

.App{
    text-align: center;
}

input[type='text']{
    padding: 10px;
    border: 0px solid #f7f7f7;
}